.home{
    text-align: center;
    background-color: rgb(54, 58, 78);
    z-index: 1;
    padding: 100px;
    box-shadow:  8px 8px 8px  #a06464 , -8px -8px 8px  #a06464;
    border-radius: 25px;
    margin: 60px;
}
span{
    margin-top: 20px;
}
.home h2{
    color: #e8a3a3;
}
.home h1{
    margin-top: 40px;
    font-size: 4.5rem;
    color: #e4d6d6;
    text-shadow:   10px 10px 4px  #a06464 ;

}

@media (min-width:768px) and (max-width:991px){
    .home{
        text-align: center;
        background-color: rgb(54, 58, 78);
        z-index: 1;
        padding: 20px;
        box-shadow:  8px 8px 8px  #a06464 , -8px -8px 8px  #a06464;
        border-radius: 25px;
        margin: 10px;
    }
    span{
        margin-top: 20px;
    }
    .home h2{
        color: #e8a3a3;
    }
    .home h1{
        margin-top: 40px;
        font-size: 4.5rem;
        color: #e4d6d6;
        text-shadow:   10px 10px 4px  #a06464 ;
    
    }
    
}

@media (max-width:767px){
    .home{
        text-align: center;
        background-color: rgb(54, 58, 78);
        z-index: 1;
        padding: 20px;
        box-shadow:  8px 8px 8px  #a06464 , -8px -8px 8px  #a06464;
        border-radius: 25px;
        margin: 10px;
    }
    span{
        margin-top: 20px;
    }
    .home h2{
        color: #e8a3a3;
        font-size: 20px;
    }
    .home h1{
        margin-top: 40px;
        font-size: 2rem;
        color: #e4d6d6;
        text-shadow:   10px 10px 4px  #a06464 ;
    
    }
    
}

@media (max-width:321px){
    .home{
        text-align: center;
        background-color: rgb(54, 58, 78);
        z-index: 1;
        padding: 10px;
        box-shadow:  8px 8px 8px  #a06464 , -8px -8px 8px  #a06464;
        border-radius: 25px;
        margin: 5px;
    }
    span{
        margin-top: 20px;
    }
    .home h2{
        color: #e8a3a3;
        font-size: 20px;
    }
    .home h1{
        margin-top: 40px;
        font-size: 2rem;
        color: #e4d6d6;
        text-shadow:   10px 10px 4px  #a06464 ;
    
    }
}